<% include partials/header %>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Log in</a></li>
                <li><a href="/">Sign up</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campground from all over the world!!!</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-large">Add new campground</a>    
            </p>
            <p>
                <a href="/campgrounds/delete" class="btn btn-danger btn-large">Delete campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(camp){ %>    
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src=" <%= camp.image %>" alt="campground">
                    <div class="caption">
                        <h4> <%= camp.name %> </h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>            
       <%}) %>
    </div>
            
</div>


<% include partials/footer %>
