<% include partials/header %>

<h1>The name of the campground is <%= camp.name %></h1>

<p><img src="<%= camp.image %>" alt=""></p>
<p><%= camp.description %></p>

<a href="/campgrounds">Go Back</a>

<% include partials/footer %>